/.idea/.idea.STAPP.dir/.idea/.gitignore
/STAPP/.idea/.idea.STAPP/.idea/.gitignore
/STAPP/STAPP.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/STAPP/STAPP.API/appsettings.Development.json
/STAPP/STAPP.API/appsettings.json
/.idea/.idea.STAPP.dir/.idea/encodings.xml
/STAPP/.idea/.idea.STAPP/.idea/encodings.xml
/.idea/.idea.STAPP.dir/.idea/indexLayout.xml
/STAPP/.idea/.idea.STAPP/.idea/indexLayout.xml
/STAPP/STAPP.API/Properties/launchSettings.json
/STAPP/STAPP.API/Program.cs
/STAPP/STAPP.API/obj/project.assets.json
/STAPP/STAPP.API/obj/project.nuget.cache
/STAPP/STAPP.API/obj/project.packagespec.json
/STAPP/STAPP.API/obj/rider.project.restore.info
/STAPP/STAPP.API/obj/Debug/net6.0/STAPP.API.AssemblyInfo.cs
/STAPP/STAPP.API/obj/Debug/net6.0/STAPP.API.AssemblyInfoInputs.cache
/STAPP/STAPP.API/obj/Debug/net6.0/STAPP.API.assets.cache
/STAPP/STAPP.API/STAPP.API.csproj
/STAPP/STAPP.API/obj/Debug/net6.0/STAPP.API.csproj.AssemblyReference.cache
/STAPP/STAPP.API/obj/STAPP.API.csproj.nuget.dgspec.json
/STAPP/STAPP.API/obj/STAPP.API.csproj.nuget.g.props
/STAPP/STAPP.API/obj/STAPP.API.csproj.nuget.g.targets
/STAPP/STAPP.API/obj/Debug/net6.0/STAPP.API.GeneratedMSBuildEditorConfig.editorconfig
/STAPP/STAPP.API/obj/Debug/net6.0/STAPP.API.GlobalUsings.g.cs
/STAPP/STAPP.sln
/.idea/.idea.STAPP.dir/.idea/vcs.xml
/STAPP/.idea/.idea.STAPP/.idea/vcs.xml
